@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #e63946;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
}
li {
  text-decoration: none;
  display: inline;
  margin: auto;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* display: none; */
  background-color: #2b2d42;
  overflow-x: hidden;
  padding-top: 20px;

  text-align: center;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin: 5px auto;
  border-radius: 5px;
  color: white;
  display: block;
  width: 90%;
}

.sidenav a:hover {
  /* color: blueviolet; */
  background-color: #e63946;
}

.border-full {
  border-bottom: 1px white solid;
}

.border-half {
  border-bottom: 2px gray solid;
  width: 70%;
  margin: 0 auto;
}

.sidenav a {
  font-size: 20px;
}
.sidenav h2 {
  background-color: #8d99ae;
  color: beige;
  padding: 10px 0;
}

.sidenav-links {
  margin-top: 1rem;
}

.active {
  border-radius: 5px;
  background-color: #e63946;
}

.container-items {
  width: 75%;
  top: 10;
  right: 0;
  position: absolute;
  display:grid;
  grid-template-columns: auto auto auto;
  z-index: -1;
}

.mobile-item {
  text-align: center;
  -webkit-box-shadow: 0px -1px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 28px 0px rgba(0, 0, 0, 0.75);
  margin: 2rem;
  border-radius: 15px;
  width: 300px;
  background-color: white;
}

.mobile-item img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 1rem;
}

.mobile-item h2 {
  margin: 1rem auto;
}

.mobile-item h2:after {
  content: '';
  display: block;
  height: 0;
  width: 1px;
}

.product-name {
  cursor: pointer;
  font-family: 'Roboto Slab';
  
}
.mobile-item h3 {
  margin: 1rem auto;
}

.checked {
  color: orange;
}
.price {
  color: black;
}
.mobile-item p {
  margin: 0 2rem;
  color: gray;
}

.mobile-item a {
  text-decoration: none;
  color: black;
}

.add-cart {
  margin-top: 1rem;
  height: 3rem;
  font-size: small;
  background-color: #e63946;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Poppins';
  cursor: pointer;
}
.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search input[type='text'] {
  width: 300px;
  height: 45px;
  border-radius: 25px;

  border: none;
}

.search {
  float: right;
  margin: 7px;
  margin-right: 5rem;
}

.search button {
  background-color: #0074d9;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 16px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
}
