<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    
    <title>ECOMMERCE SITE</title>
</head>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../public/css/info.css" />
<body>

<div id="navbar"  ></div>

    {{{body}}}
</body>
</html>