 <div class="detail-container">
      <img src="./Img/WhatsApp Image 2022-06-26 at 2.30.16 PM.jpeg" alt="" />
      <div class="vert-border"></div>
      <div class="details">
        <h1 class="detail-product-name">Mobile name</h1>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptas alias est officiis perferendis voluptates minima similique nobis eveniet. Corporis ipsam, illum explicabo dignissimos officia doloribus sunt similique nulla id!
        </p>
        <h2 class="detail-price">&#8377; 90,000</h2>
        <div class="detail-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <button type="button">ADD TO CART</button>
      </div>
    </div>